<div class="tumblr item">
  <h1><%= item.title %></h1>
  
  <div class="blog-body">
    <%= item.description %>
  </div>
  
  <div class="meta">on <%= item.pubDate %>, seen <%= item.link %></div>
</div>